<%= form_tag downgrade_path do %>
  <h4>All your private wikis will be publicized if your account is downgraded.</h4>
  <%= link_to "Downgrade My Account!", method: :destroy, class: 'btn btn-danger', data: {confirm: 'Are you sure?'} %>
<% end %>
